:root {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-secondary-text-color: #F80759;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Lessons */

.lessons {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #202020;
}

#exit {
    position: absolute;
    top: 2%;
    right: 1%;
    color: #959595;
    cursor: pointer;
}

#exit:hover {
    transform: scale(1.25);
    color: var(--main-secondary-text-color);
}

.lessons-content {
    width: 80vw;
    height: 22.5vh;
    margin: auto;
    padding: 5vh 0 0 0;
    display: flex;
    justify-content: space-between;
}

.rectangle {
    width: 0.8rem;
    height: 18%;
    position: absolute;
    top: 5%;
    left: 10%;
    background-color: var(--main-secondary-text-color);
}

.banner {
    width: 80vw;
    height: 60vh;
    position: absolute;
    bottom: 10%;
    object-fit: cover;
}

.footer {
    background-color: var(--main-secondary-text-color);
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
}

.left {
    width: 40vw;
    height: 18vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.3rem;
}

h1 {
    font-size: 7rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 2rem;
}

.left p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    line-height: 2rem;
}

.right {
    width: 40vw;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#price {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    align-self: flex-end;
}

.location {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#location-text {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    align-self: flex-end;
}

strong {
    color: var(--main-secondary-text-color);
    font-size: 2.5rem;
    font-weight: 300;
    align-self: flex-end;
}

i {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    align-self: flex-end;
    margin-right: 0.5rem;
}

button {
    font-size: 1.8rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: #fff;
    font-weight: 700;
    border: none;
    background-color: var(--main-secondary-text-color);
    align-self: flex-end;
}