/* Added for custom variables. This will ensure that all selectors will gain access to these variables. */
:root {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --main-secondary-text-color: #F80759;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* NAVIGATION */

header {
    min-width: 100vw;
    min-height: 10vh;
    position: sticky;
    top: 0;
}

nav {
    width: 90vw;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1rem;
    cursor: pointer;
    color: var(--main-secondary-text-color);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 0 0 5rem;
    color: var(--main-secondary-text-color);
}

nav ul li a:hover {
    font-weight: 900;
}

/* HERO SECTION */

.hero {
    min-width: 100vw;
    min-height: 90vh;
    background: url(./img/bg\ surf\ 2.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content h1 {
    min-width: 100%;
    font-size: 25.5rem;
    letter-spacing: 3rem;
    font-weight: 900;
    color: var(--main-secondary-text-color);
    transform: translateY(-2rem);
}

.arrow-down {
    max-height: 6rem;
    max-width: 6rem;
    cursor: pointer;
}

.arrow-down:hover {
    transform: scale(1.25);
}

/* ABOUT SECTION */

.about {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

.about-content {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 45vw;
    height: 60vh;
}

.right {
    width: 45vw;
    height: 60vh;
    background: url(./img/bg\ surf\ 2.jpg) no-repeat center;
}

.about-content h1 {
    font-size: 8rem;
    letter-spacing: 1rem;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: var(--main-secondary-text-color);
}

.about-content p {
    width: 70%;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    margin-top: 5rem;
    color: #fff;
}